/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

* {
    @include box-sizing(border-box);
}

html, body, #map-canvas, #map-canvas-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.twitter-typeahead {
    position: absolute !important;
    top: 20px;
    left: 100px;
    z-index: 99;
    width: 400px;
}

input {
    @include box-shadow(0px 1px 4px #888);
    width: 100%;
    border: none;   
    background: white;
    outline: none;
    padding: 6px 5px;
    font-size: 1.4em;
    text-indent: .7em;
}


.tt-dropdown-menu {
    border: 1px solid #e3e3e3;
    padding: 0;
    width: 100%;
    background: #fff;
}

[class*=tt-dataset] {
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

    .tt-suggestion {
        line-height: 2em;
        text-indent: 1em;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e3e3e3;
        cursor: pointer;
        text-align: left;

        &:last-of-type { border-bottom: none; }
        &:first-of-type { border-top: none; }

        &:hover, &.tt-cursor {
            background: #e3e3e3;
        }
    }

    .tt-highlight {
        background: #f2f2f0;
    }
}

.tt-empty-results {
    line-height: 3;
    text-indent: 0;
    text-align: center;
}

ul#active-bird-list {
    position: absolute;
    top: 25px;
    left: 510px;

    li {
        @include border-radius(3px);
        border: 1px solid #fff;
        display: inline-block;
        text-align: center;
        min-width: 100px;
        line-height: 1.5em;
        background: #f9f9f9;
        margin: 3px 3px;
        padding: 0 6px;
        background: rgba(255,255,255,.7);
    }

}